@model CreateTaskViewModel
<h1>Create Task</h1>
<form asp-controller="Board" asp-action="CreateTaskPost">
    <div class="form-group">
        <label asp-for="TaskName">Task name</label>
        <input asp-for="TaskName" class="form-control" />
        <span asp-validation-for="TaskName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TaskDescription">Task Description</label>
        <input asp-for="TaskDescription" class="form-control" />
    </div>
    <button type="submit" class="btn-primary btn">Create</button>

</form>
