
<form asp-controller="Board" asp-action="CreateTaskPost">
    <h1>Create Task</h1>
    <div class="form-group">
        <label>Task name</label>
        <input class="form-control"/>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Task Description</label>
        <input class="form-control"/>
    </div>
    <button type="submit" class="btn-primary btn">Create</button>
    
</form>
