@{
    ViewData["Title"] = "Create Task";
}
@model CreateTaskViewModel

<h1 class="ink display-4">Create Task</h1>
<form asp-controller="Board" asp-action="CreateTaskPost">
    <div class="form-group">
        <label asp-for="TaskName" class="labels">Task name</label>
        <input asp-for="TaskName" class="form-control" />
        <span asp-validation-for="TaskName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TaskDescription" class="labels">Task Description</label>
        <input asp-for="TaskDescription" class="form-control" />
    </div>
    <button type="submit" class="btn-primary btn">Create</button>

</form>
