
<h1>Welcome Model</h1>
<a asp-controller="Home" asp-action="Index">Logout</a>
<p>Here are your tasks, have a productive day.</p>
<table class="table mt-2">
        <thead>
            <tr>
                <th>Open</th>
                <th>In Progress</th>
                <th>Done</th>
            </tr>
        </thead>

</table>