
<form asp-controller="User" asp-action="CreateUserPost">
    <h1>Create new user</h1>
    <div class="form-group">
        <label>User name</label>
        <input class="form-control"/>
        <span class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>