@*@{
    ViewData["Title"] = "Login Page";
}*@
@model LoginViewModel


<h1 class="display-4">Select User</h1>
<form asp-controller="Board" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="UserId">User</label>
        <select asp-for="UserId" asp-items="Model.Users" class="form-control">
            <option value="">Select User</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
    <a asp-controller="User" asp-action="CreateUser">Not in the list ?</a>


